.page.lists-show {
  .content-scrollable {
    background: @color-empty;
    top: 3em !important;
  }
}

.list-edit-form input[type="text"]{
  padding: .7rem 0; //total height ~48
  line-height: 1.5;
}
