<template name="listsPreview">

  <div class="display-flex">
    <div class="preview-overview">
        <h1 class="js-edit-list title-page"><span class="title-wrapper">{{name}}</span></h1>
        <h5 class="count-list"><span>{{incompleteCount}}</span> tasks total</h5>
    </div>

    <div class="preview-list">      

      <ul class="timeline">
      {{#each dots this}}
        {{#each items _id}}
          {{monthTitle dotId}}
          <li> 
            <span>{{date dotId}}</span> — {{text}}
          </li>
        {{/each}}
      {{/each}}
      </ul>
              
    </div>
  </div>

</template>
