.preview-overview {
  width: 100%;
  padding: 3em;
  h1 {
    color: #fff;
  }
  h5 {
    margin-top: 10px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
    span {
      font-weight: 900;
      color: rgba(255, 255, 255, 0.9);
    }
  }
  h2 {
    margin-top: 4em;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);
  }
}
.preview-milestone-list {
  color: rgba(255, 255, 255, 0.9);
  li {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.01em;
  }
}

.preview-list {
  width: 100%;
  background: #fff;
  padding: 3em;
  ul li {
    font-size: 1em;
    margin: 18px 0;
  }
}

@media screen and (max-width: 1000px) {
  .preview-overview,
  .preview-list {
    width: 100%
  }
}