<template name="listsShow">
  <div class="page lists-show">
    <nav class="js-title-nav">
      {{#if editing}}
        <form class="js-edit-form list-edit-form">
          <input type="text" name="name" value="{{name}}">
          <div class="nav-group right">
            <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
          </div>
        </form>
      {{else}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page"><span class="title-wrapper">{{name}}</span> <span class="count-list">{{incompleteCount}}</span></h1>

        <div class="nav-group right">
          <div class="nav-item options-mobile">
            <select class="list-edit">
              <option disabled selected>Select an action</option>
              {{#if userId}}
                <option value="public">Make Public</option>
              {{else}}
                <option value="private">Make Private</option>
              {{/if}}
              <option value="delete">Delete</option>
            </select>
            <span class="icon-cog"></span>
          </div>
          <div class="options-web">
            <a class="js-toggle-list-privacy nav-item">
              {{#if userId}}
                <span class="icon-lock" title="Make list public"></span>
              {{else}}
                <span class="icon-unlock" title="Make list private"></span>
              {{/if}}
            </a>

            <a class="js-delete-list nav-item">
              <span class="icon-trash" title="Delete list"></span>
            </a>
          </div>
        </div>
      {{/if}}

    </nav>

    <div class="content-scrollable list-items">
      <!-- <div class="timeline" style="z-index: 1000000000;"> -->

        <ul class="timeline">
        {{#each dots this}}
          <li class="dot">
            <div class="date">
              {{formattedDate date}}
            </div>
            <div class="center">
              <div class="line"></div>
              {{formattedDot date}}
            </div>
            <div class="items">
              {{#each items _id}}
                <div class="item-show">
                {{#if editingItem _id}}
                  <input class="item" type="text" value="{{text}}">
                  <div class="submit js-submit-item">&check;</div>
                  <div class="delete js-delete-item">&times;</div>
                {{else}}
                  <div class="item-text">{{text}}</div>
                {{/if}}
                </div>
              {{/each}}
            </div>
          </li>
        {{/each}}
        </ul>

      <!-- </div> -->

      

      
    </div>
  </div>
</template>
